.header {
  background: var(--color-surface);
}

.header-top {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 74px;

  margin-bottom: 32px;
}

.logo {
  position: absolute;

  left: 50%;

  transform: translateX(-50%);
}

.header-actions {
  display: flex;
  align-items: center;
  gap: 12px;
}

.burger,
.search-btn,
.cart-btn {
  border: none;
  background: transparent;
  cursor: pointer;
}

.header-nav {
  display: flex;
  justify-content: center;
  gap: 33px;

  padding: 16px 8px 16px 8px;
}

.header-nav a {
  text-decoration: none;
  color: var(--color-text);

  width: auto;
  height: 46px;

  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
}