<div class="card" (click)="openProduct()">
  <div class="card-image">
    <img [src]="product().image" [alt]="product().title" />

    <button class="add-btn" (click)="addToCart($event)">+</button>
  </div>

  <div class="card-content">
    <div class="price-row">
      <span class="price"> {{ product().price | number: '1.2-2' }} ₽ </span>

      @if (product().oldPrice) {
        <span class="old-price"> {{ product().oldPrice | number: '1.2-2'}} ₽ </span>
      }

      @if (product().discount) {
        <span class="discount"> -{{ product().discount }}% </span>
      }
    </div>

    <h3>
      {{ product().title }}
    </h3>

    <p class="description">
      {{ product().description }}
    </p>
  </div>
</div>
